::before, 
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul, 
pl, 
li {
  list-style: none;
}

img {
  vertical-align: top;
}
h1, 
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html {
  font-weight: 500;
}
body {
  background: url('img/black_hole2.2.jpg') 0 0 repeat fixed;
  background-size: cover;
  height: 100%;
  line-height: 1;
  background-color: black;
  color: white;
  width: 80%;
  max-width: 20em;
  padding: 25vh 1em;
  margin: auto;
}

.wrapper {
  background-image: linear-gradient(transparent 10%, currentColor 30%, currentColor 70%, transparent 90%);
-webkit-background-clip: text;
box-decoration-break: clone;
  background-clip: text;
  background-attachment: fixed; 
}
.wrapper > * {
    color: transparent;
  }

@media (min-width: 767px) {
  html {
    font-size: 28px;
  }
}
body._lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
}

.page {
  padding: 60px 0px 30px 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;1,200&family=PT+Sans+Narrow&display=swap');
.page_section {
  padding: 30px;
  margin: 0px auto;
  font-family: "Jost";
}

.page_section_3 .page_text1 {
  font-style: oblique;
}
.page_title {
  font-size: 40px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-size: 16px;

  

}

.header_container {
  margin: 0px auto;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;  

}

/* Логотип */
.header_logo {
  border-radius: 50%;
  position: relative;
  z-index: 5;
  flex: 0 0 60px;
  overflow: hidden;
}

.header_logo img {
  max-width: 100%;
  display: block;
}
.menu_list > li {
  position: relative;
  margin: 0px 0px 0px 40px;
}

.menu_link:hover {
    text-decoration: underline;
}
.menu_link {
  color: white;
  font-size: 18px;
}

.menu_icon {
  display: none;
}

@media (min-width: 767px) {
  .menu_list {
    display: flex;
    align-items: center;
  }
  .menu_list > li {
    padding: 10px 0;
  }
}

/* Меню бургер */
@media (max-width: 767px) {
  .menu_icon{
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu_icon span,
  .menu_icon::before, 
  .menu_icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: white;
  }
  .menu_icon::before, 
  .menu_icon::after {
    content: "";
  }
  .menu_icon::before {
    top: 0;
  }
  .menu_icon::after {
    bottom: 0;
  }
  .menu_icon span{
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  /*Анимация полос*/
  .menu_icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu_icon._active::before {
    top: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu_icon._active::after {
    bottom: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  

  .menu_body {
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 0px 0px 0px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu_body._active {
    left: 0;
  }
  .menu_body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;

  }
  .menu_list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu_list > li::last-child {
    margin-bottom: 0;
  }
  .menu_link {
    font-size: 24px;
  }
}

/* Стиль кнопки */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Dancing+Script&display=swap');
.button {
  font-family: "Dancing Script";
  width: 150px;
  height: 32px;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.button1 {
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0); 
  color: red; 
  animation: animate_pulse 3s infinite;
}

.button1:hover {
  color: blue;
  font-size: 32px;
  animation: none;
}

@keyframes animate_pulse {
	0% {
		color: red;
	}
	50% {
		color: rgba(0, 0, 0, 0);
	}
  100% {
    color: red;
  }
}